
:root {
---Very-pale-blue: hsl(225, 100%, 98%);
---Desaturated-blue: hsl(224, 23%, 55%);
---Dark-blue: hsl(223, 47%, 23%);
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
}
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Pale-blue);

}

.card{
    width: 350px;
    position: relative;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-color: white;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    left: 40%;
    top: 50px;


  
}
img {
    width: 100%;
    
}
h1{
    padding: 10px;
}
p{
    line-height: 20px;
    text-align: center;
    padding: 0 10px 0 20px ;

}
.plan-container{
    width: 80%;
    background-color: var(---Very-pale-blue);
    display: flex;
    padding: 10px;
    border-radius: 12px;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    
    
}
.img{
    width: 37px;

}
.plan-des{
    position: relative;
    right: 38px;

}
.proceed-btn{

    background-color: var(--Bright-blue);
    padding: 10px;
    color: white;
    box-shadow: 0 20px 20px -8px rgb(197 189 245 );
    width: 90%;
    border: none;
    border-radius: 12px;
    font-size: .9rem;
    cursor: pointer;
    font-weight: 700;

}
.proceed-btn:hover{
    opacity: .8;
}
.cancel-btn{
    color: var(---Desaturated-blue);
    width: 90%;
    border: none;
    font-size: .9rem;
    cursor: pointer;
    font-weight: 700;
    margin-top: 16px;
    background: transparent;
    padding-bottom: 40px;
}
.cancel-btn:hover{
    color: black;
}
